.square {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.horizontal-line1 {
    border-top: 1px solid black;
    width: 300px;
    margin-top: 33%;
}

.horizontal-line2 {
    border-top: 1px solid black;
    width: 300px;
    margin-top: 33%;
}

.vertical-line1 {
    border-left: 1px solid black;
    height: 300px;
    margin-left: 33%;
    margin-top: -66.6%;
}

.vertical-line2 {
    border-left: 1px solid black;
    height: 300px;
    margin-left: 66%;
    margin-top: -100%;
}

.invisible-button {
    /* border: none;
    background: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer; */
    width: 100px;
    height: 100px;
    position: absolute;
}

#b1 {
    top: 195px;
    left: 8px;
}

#b2 {
    top: 195px;
    left: 109px;
}

#b3 {
    top: 195px;
    left: 209px;
}

#b4 {
    top: 295px;
    left: 8px;
}

#b5 {
    top: 295px;
    left: 109px;
}

#b6 {
    top: 295px;
    left: 209px;
}

#b7 {
    top: 396px;
    left: 8px;
}

#b8 {
    top: 396px;
    left: 109px;
}

#b9 {
    top: 396px;
    left: 209px;
}

#clear-button{

}

#game-info{

}